/src/Git.Print.Test/.vs
/src/Git.Print.Test/Git.Print.Libraries/bin
/src/Git.Print.Test/Git.Print.Libraries/obj
/src/Git.Print.Test/Git.Print.Test/obj
/src/Git.Print.Test/Git.Print.Test/bin
/src/Git.Print.Test/Git.Framework.Printer/bin
/src/Git.Print.Test/Git.Framework.Printer/obj
/src/Git.Print.Test/Git.Framework.Printer.Test/obj
/src/Git.Print.Test/Git.Framework.Printer.Test/bin
